*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*inizio layout*/
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    width: 100%;
}
.col-33{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}
.menu-header, .logo-header, .icons-header{
    height: 100px;
    width: 300px;
    background-color: blue;
}
.menu-header ul, .icons-header ul{
    list-style-type: none;
}
.menu-header ul li, .icons-header ul li{
    display: inline-block;
}
.menu-header ul li a, .icons-header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.menu-header ul li a:hover, .icons-header ul li a:hover{
    text-decoration: underline;
}
/*fine layout*/
/*inizio header*/
header{
    background-color: orangered;
}

/*fine header*/
/*inizio main*/

/*fine main*/