*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/*inizio layout*/
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    width: 100%;
}
.col-33{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}
/*fine layout*/
/*inizio header*/
header{
    background-color: orangered;
}
.menu-header, .logo-header, .icons-header{
    height: 100px;
    width: 300px;
    background-color: blue;
}
/*fine header*/
/*inizio main*/

/*fine main*/