*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*inizio layout*/
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    width: 100%;
}
.col-33{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}
.col-50{
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
}
/*fine layout*/
/*inizio header*/
header{
    background-color: rgb(255, 125, 0);
    padding: 15px 0px;
    box-shadow: 0px 0px 3px 1px black;
}
.menu-header ul, .icons-header ul, .footer-left ul, .footer-right ul{
    list-style-type: none;
}
.menu-header ul li, .icons-header ul li, .footer-left ul li, .footer-right ul li{
    display: inline-block;
}
.menu-header ul li a, .icons-header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.menu-header ul li a:hover, .icons-header ul li a:hover{
    text-decoration: underline;
}
.logo-header img{
    width: 150px;
}
.logo-header{
    text-align: center;
}
.icons-header{
    justify-content: right;
}
.icons-header ul li{
    margin: 3px;
}
.menu-header, .icons-header{
    height: 100%;
    display: flex;
    align-items: center;
}
/*fine header*/
/*inizio main*/

/*fine main*/
/*inizio footer*/
footer{
    background-color: rgb(26, 26, 26);
    padding: 30px 0px;
}
.footer-left, .footer-right{
    height: 200px;
    width: 100%;
    background-color: red;
}
.footer-left ul li a, .footer-right ul li a{
    text-decoration: none;
    color: white;
}
.footer-left strong{
    color: white;
}
.footer-right{
    text-align: right;
}
/*fine footer*/